@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Raleway:300');

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Styling the header */
.bg-light {
  background-color: transparent !important;
}
.center-content {
  width: 100%;
  max-width: 62.5em;
  margin: 0 auto;
  float: left;
  display: flex;
}

.brand-wrapper {
  float: left;
  width: 18%;
  padding-left: 0;
  padding-right: 0;
}

.brand-wrapper img {
  height: 3.8em;
}

.navItems {
  font-size: .875rem;
  list-style: none;
  padding-top: 25px;
  width: auto;
  height: 100px;
  position: relative;
  left: 14.3rem;
}

ul li,
ol li {
  line-height: 1.5rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffffcc;
    font-size: .99rem;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #f6f6f6;
}

.navItems li {
  display: block;
  padding: 0 .394rem;
}

.navItems .btn {
  border-radius: .14rem;
  font-weight: 600;
  font-size: .875rem;
  padding: .5rem 1.5rem;
}

.navItems .btn-primary {
  background-color: #255dff;
  border-color: #255dff;
}

.navItems .btn-primary:hover {
  background-color: #255dff;
  border-color: #255dff;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, .28);
}

.navItems .clearfix {
  padding-right: 1.5rem;
}

/* styling the hover */
.dropdown-menu {
  border: 1px solid #f6f6f6;
  border-top: 2px solid #255dff;
  top: 108%;
  border-radius: .20rem;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .07);
}

.dropdown-menu .dropdown-item {
  font-size: .795rem;
  padding-left: 7px;
  color: #5c5c5c;
  line-height: 1.5;
  padding: .8rem 1.5rem;
  transition: padding-left 400ms ease-in-out;
  width: 100%;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f8f8f8;
  padding-left: 15px;
}

/* Styling the Lf-Jumbotron */
.mainBody {
  display: block;
}

.lfWelcome {
  background-image: url('../assets/img/BossTalks.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #f9f9f9;
}

.lf-top {
  padding: 14rem 0 5rem 0;
}

.conatiner__content {
  padding: 0 .9375em;
  width: 100%;
  text-align: center;
  position: relative;
  top: -1rem;
}

.lf-title {
  line-height: 3.75rem;
  font-size: 2.625rem;
  margin: 0 0 1.5rem;
  letter-spacing: 2px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.lf-support-text {
  font-size: 1.5rem;
  margin-bottom: 2.25rem;
  line-height: 2.25rem;
  font-family: 'Poiret One', cursive;
}

.lf__cta .btn {
  border-radius: 0;
  width: 17rem;
  font-size: .875rem;
}

.lf__cta .btn-primary {
  padding-top: .54rem;
  padding-bottom: .54rem;
}

.lf__cta .btn-default {
  background: rgba(255, 255, 255, 0.199);
  border-color: #fff;
  color: #fff;
  font-weight: 600;
  margin-left: 1.4rem;
}

.lf__cta .btn-default:hover {
  background-color: #f8f8f8;
  color: #5c5c5c;
}

.lf__cta .far {
  line-height: 1.125rem;
  font-size: 1.5rem;
  position: relative;
  top: 3px;
  left: 5px;
}

/* Styling the TechEnv */
.custom__one,
.custom__two,
.custom__three {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 2.26rem 1.5rem;
  color: #f8f8f8;
  text-align: center;
  cursor: pointer;
}

.custom__one  {
  background-image: url('../assets/img/lf_train.png');
}

.custom__two  {
  background-image: url('../assets/img/lf_gold.png');
}

.custom__three  {
  background-image: url('../assets/img/lf_hub.png');
}

.info__wrapper h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Raleway', 'Montserrat', sans-serif;
  letter-spacing: 2px;
  line-height: 2.258rem;
  font-size: 1.4rem;
}

.info__wrapper .icon__wrp {
  margin: .875rem auto;
  border: 2px solid #f6f6f6;
  padding: .875rem;
  width: 27%;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.19);
  color: #cecece;
  position: relative;
  top: 1rem;
  transition: background-color 400ms ease-in-out, color 400ms ease-in-out;
}

.info__wrapper .icon__wrp:hover {
  background: transparent;
  color: #fff;
}

.info__wrapper .icon__wrp i {
  font-size: 3rem;
}

.info__wrapper .cta__text {
  position: relative;
  top: 2rem;
  font-size: 1.12rem;
}

/* Styling Our Creed */
.lf_creed {
  padding: 2.258rem 0;
}

/* .banner {
  background: url('../assets/img/lf_creed.png') no-repeat;
  background-position: center center;
  background-size: cover;
} */

.lf_creed .creed__wrp {
  text-align: center;
}

.creed__wrp h2 {
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  margin-bottom: 1.85rem;
  color: #787878;
  font-size: 4rem;
}

.creed__wrp .quote {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 134%;
}

.creed__wrp .greatMen {
  letter-spacing: 5px;
  margin-bottom: 2rem;
}

.creedFooter {
  color: #787878;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.67rem;
}

/* Styling the HOI */
.no-padding {
  padding: 0;
  display: flex;
}

.lf__HOI {
  background-image: url('../assets/img/lf__portrait.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 45rem;
  text-align: center;
  color: #454545;
}

.lf__HOI h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  font-size: 4rem;
  position: relative;
  top: 12%;
}
.lf__imgStack {
  height: 45rem;
  text-align: center;
  background: #fafaf7;
}

.in_context {
  display: flex;
}

.lf__imgStack .img-wrp {
  width: 50%;
}

.lf__imgStack img {
  width: 36%;
  position: relative;
  top: 28%;
}

.lf__imgStack .infoTxt {
  width: 50%;
  margin-bottom: .345rem;
}

.infoTxt h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  margin-top: 1.235rem;
}

.infoTxt p {
  font-family: 'Poiret One', cursive;
  line-height: 1.7rem;
}

.infoTxt .btn {
  font-family: 'Raleway', sans-serif;
  width: 11rem;
  border-radius: 2px;
  font-weight: 600;
}

.infoTxt .btn-primary {
  background-color: #17883e;
  border-color: #17883e;
}

.infoTxt .btn-primary:hover {
  background-color: #2a2a2a;
  color: #fed840;
  border: 1px solid #2a2a2a;
}

.in_context {
  transition: all 400ms ease-in-out;
  padding: 0 .167rem;
}

.in_context:hover {
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.199);
  cursor: pointer;
  transform: scale(1.01);
}
